{% extends "network/layout.html" %}

{% block body %}

<!-- {% for i in posts %}
    {{ i.likes.all }} {{likes}}
{% endfor %}

{{ user.liked_posts.all }} -->



<!-- Make toggle to hide/view New Post tab -->
    {% if user.is_authenticated %}
        <div class="NewPost">
            <h2>New Post</h2>
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    {% endif %}
    

    <div class="AllPosts">
        <h2>All Posts</h2>
        <ul>
            {% for post in page_obj %}
                <li>
                    <h5><a href="{% url 'profile' user_id=post.author.id %}">{{ post.author }}</a></h5>
                    
                    {% if post.author == user %}
                        <div>
                            <button class="edit" data-id="{{ post.id }}" id="btn_{{ post.id }}">Edit</button>
                        </div>
                    {% endif %}

                    <div id="content_{{ post.id }}" class="p-3 border w-50">{{ post.content }}</div>
                    <div><b>{{ post.likes.count }}</b> Likes!
                        
                        {% if user in post.likes.all %}                            
                            <span class="hearts heart_like" data-id="{{ post.id }}" id="like_{{ post.id }}">
                                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                </svg> -->
                            </span>
                        {% else %}
                            <span class="hearts heart_unlike" data-id="{{ post.id }}" id="like_{{ post.id }}">
                                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg> -->
                            </span>
                        {% endif %}

                    </div>
                    <p>{{ post.date }}</p>
                </li>
            {% empty %}
                <p>There are no posts yet!</p>
            {% endfor %}
        </ul>
    </div>

    <br/><hr/>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        <!-- Previous buttons -->
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">
                    &laquo; First
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    {{ page_obj.previous_page_number }}
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">
                    &laquo; First
                </span>
            </li>
        {% endif %}

        <!-- Current page -->
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{ page_obj.number }}
                <span class="sr-only">(current)</span>
            </span>
        </li>

        <!-- Next buttons -->
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    {{ page_obj.next_page_number }}
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                    Last &raquo;
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">
                    Last &raquo;
                </span>
            </li>
        {% endif %}

    </ul>
</nav>

{% endblock %}