{% extends "network/layout.html" %}

{% block body %}


<!-- Here are some test of template access to the variables -->
    <!-- {% for i in posts %}
        {{ i.likes.all }} {{likes}}
    {% endfor %}

    {{ user.liked_posts.all }} -->


<!-- Make toggle to hide/view New Post tab -->
    {% if user.is_authenticated %}
        <div class="NewPost text-center">
            <h3 class="p-2">New Post</h3>
            <form action="{% url 'index' %}" method="post" id="newPost_form">
                {% csrf_token %}                
                {{ form }}
                <div>
                    <input type="submit" class="btn btn-secondary" value="Submit" id="newPost_submit" disabled>
                </div>                
            </form>
        </div>
    {% endif %}
    

    <div class="AllPosts">
        <h2 class="p-4">All Posts</h2>
        <ul>
            {% for post in page_obj %}
                <li>
                    <h5><a href="{% url 'profile' user_id=post.author.id %}">{{ post.author }}</a></h5>
                    
                    {% if post.author == user %}
                        <div>
                            <button class="edit" data-id="{{ post.id }}" id="btn_{{ post.id }}">Edit</button>
                        </div>
                    {% endif %}

                    <div id="content_{{ post.id }}" class="p-3 border w-50">{{ post.content }}</div>

                    <div><b id="likeCount_{{ post.id }}">{{ post.likes.count }}</b> Likes!
                        
                        {% if user in post.likes.all %}                            
                            <span class="hearts heart_like" data-id="{{ post.id }}" id="like_{{ post.id }}">
                            </span>
                        {% else %}
                            <span class="hearts heart_unlike" data-id="{{ post.id }}" id="like_{{ post.id }}">
                            </span>
                        {% endif %}
                    </div>

                    <p>{{ post.date }}</p>
                </li>
            {% empty %}
                <p>There are no posts yet!</p>
            {% endfor %}
        </ul>
    </div>

    <br/><hr/>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        <!-- Previous buttons -->
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">
                    &laquo; First
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    {{ page_obj.previous_page_number }}
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">
                    &laquo; First
                </span>
            </li>
        {% endif %}

        <!-- Current page -->
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{ page_obj.number }}
                <span class="sr-only">(current)</span>
            </span>
        </li>

        <!-- Next buttons -->
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    {{ page_obj.next_page_number }}
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                    Last &raquo;
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">
                    Last &raquo;
                </span>
            </li>
        {% endif %}

    </ul>
</nav>

{% endblock %}