{% extends "network/layout.html" %}

{% block body %}
<!-- Make toggle to hide/view New Post tab -->
    {% if user.is_authenticated %}
        <div class="NewPost">
            <h2>New Post</h2>
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    {% endif %}
    

    <div class="AllPosts">
        <h2>All Posts</h2>
        <ul>
            {% for post in page_obj %}
                <li>
                    <h5><a href="{% url 'profile' user_id=post.author.id %}">{{ post.author }}</a></h5>
                    
                    <div>
                        <a href="#">Edit</a>
                    </div>
                    <p>{{ post.content }}</p>
                    <p>{{ post.date }}</p>
                </li>
            {% empty %}
                <p>There are no posts yet!</p>
            {% endfor %}
        </ul>
    </div>

    <br/><hr/>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        <!-- Previous buttons -->
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">
                    &laquo; First
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    {{ page_obj.previous_page_number }}
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">
                    &laquo; First
                </span>
            </li>
        {% endif %}

        <!-- Current page -->
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{ page_obj.number }}
                <span class="sr-only">(current)</span>
            </span>
        </li>

        <!-- Next buttons -->
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    {{ page_obj.next_page_number }}
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                    Last &raquo;
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">
                    Last &raquo;
                </span>
            </li>
        {% endif %}

    </ul>
</nav>

{% endblock %}