{% extends "network/layout.html" %}

{% block title %}
	Profile
{% endblock %}

{% block body %}

<h1>{{ profile }} ({{ profile.email }})</h1>

<div>
	<p>Followers: <span id="followers">{{ followers }}</span></p>
	<p id="follows">Subscribed on: {{ follows }}</p>
</div>

<!-- Subscribe -->
{% if user.is_authenticated %}
	{% if user != profile %}
		<button id="subscribe" data-profile="{{ profile.id }}"></button>
	{% endif %}
{% endif %}

<!-- All posts -->
<h2>Posts of {{ profile }}:</h2>
<ul>
	{% for post in posts %}
		<li>
			<p>{{ post.content }}</p>
			<p>{{ post.date }}</p>

			{% if post.author == user %}
				<div>
					<a href="#">Edit</a>
				</div>
			{% endif %}
		</li>
	{% endfor %}
</ul>

{% endblock %}